<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.gmaking.community.dao.PostDAO">
    <resultMap id="postResultMap" type="com.project.gmaking.community.vo.PostVO">
        <id property="postId" column="POST_ID" />
        <result property="title" column="TITLE" />
        <result property="content" column="CONTENT" />
        <result property="userId" column="USER_ID" />
        <result property="categoryCode" column="CATEGORY_CODE" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="likeCount" column="LIKE_COUNT" />
        <result property="isDeleted" column="IS_DELETED" />

        <result property="imageIds" column="IMAGE_IDS" javaType="java.util.List"
                jdbcType="VARCHAR"
                typeHandler="com.project.gmaking.config.JsonLongListTypeHandler" />

        <result property="createdDate" column="CREATED_DATE" />
        <result property="createdBy" column="CREATED_BY" />
        <result property="updatedDate" column="UPDATED_DATE" />
        <result property="updatedBy" column="UPDATED_BY" />
    </resultMap>

    <sql id="criteria">
        <if test="userId != null and userId != ''">
            AND USER_ID = #{userId}
        </if>
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'T'.toString()">
                    AND TITLE LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'C'.toString()">
                    AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'W'.toString()">
                    AND USER_ID LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </if>
    </sql>

    <insert id="insertPost" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO TB_COMMUNITY_POST(TITLE, CONTENT, USER_ID,
        <if test="imageIds != null and !imageIds.isEmpty()">IMAGE_IDS,</if>
        CREATED_DATE)
        VALUES (
        #{title},
        #{content},
        #{userId},
        <if test="imageIds != null and !imageIds.isEmpty()">
            #{imageIds, jdbcType=VARCHAR, typeHandler=com.project.gmaking.config.JsonLongListTypeHandler},
        </if>
        NOW()
        )
    </insert>

    <update id="updatePost">
        UPDATE TB_COMMUNITY_POST SET
        TITLE = #{title},
        CONTENT = #{content},
        IMAGE_IDS = #{imageIds, jdbcType=VARCHAR, typeHandler=com.project.gmaking.config.JsonLongListTypeHandler},
        UPDATED_DATE = NOW()
        WHERE POST_ID = #{postId}
    </update>

    <select id="selectPostById" resultMap="postResultMap">
        SELECT
        POST_ID, TITLE, CONTENT, USER_ID, CREATED_DATE, UPDATED_DATE, IMAGE_IDS,
        CATEGORY_CODE, VIEW_COUNT, LIKE_COUNT, IS_DELETED, CREATED_BY, UPDATED_BY
        FROM TB_COMMUNITY_POST
        WHERE POST_ID = #{postId}
    </select>

    <delete id="deletePost">
        DELETE FROM TB_COMMUNITY_POST
        WHERE POST_ID = #{postId}
    </delete>

    <select id="selectPostList" resultMap="postResultMap">
        SELECT
        POST_ID, TITLE, USER_ID, CREATED_DATE, IMAGE_IDS, CONTENT, UPDATED_DATE,
        CATEGORY_CODE, VIEW_COUNT, LIKE_COUNT, IS_DELETED, CREATED_BY, UPDATED_BY
        FROM TB_COMMUNITY_POST
        <where>
            <include refid="criteria"/>
        </where>
        ORDER BY POST_ID DESC
        LIMIT #{amount} OFFSET #{skip}
    </select>

    <select id="selectPostCount" resultType="int">
        SELECT COUNT(*)
        FROM TB_COMMUNITY_POST
        <where>
            <include refid="criteria"/>
        </where>
    </select>
</mapper>