<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gmaking.character.dao.CharacterDAO">

    <select id="selectCharactersByUser" parameterType="string" resultType="com.project.gmaking.character.vo.CharacterVO">
        SELECT *
        FROM TB_CHARACTER
        WHERE USER_ID = #{userId}
    </select>

    <update id="incrementStageClear">
        UPDATE TB_CHARACTER
        SET TOTAL_STAGE_CLEARS = TOTAL_STAGE_CLEARS + 1,
        UPDATED_DATE = NOW()
        WHERE CHARACTER_ID = #{characterId}
    </update>

</mapper>
